(define (problem libero_tabletop_manipulation)
  (:domain robosuite)
  (:language pick the akita black bowl between the plate and the ramekin and place it on the plate)
    (:regions
      (akita_black_bowl_1_init_region
          (:target main_table)
          (:ranges (
              (0.031646029394272655 0.24168707501769837 0.05164602939427266 0.2616870750176984)
            )
          )
          (:yaw_rotation (
              (1.2785666377120597 1.2785666377120597)
